<!DOCTYPE html>
<html>
<head>
    <title>Тест на путешествие</title>
</head>
<body>
    <h2>Пройди тест и узнай, куда тебе стоит поехать!</h2>
    <form method="post">
        <label>Какой вид отдыха вам нравится?</label><br>
        <input type="radio" name="activity" value="active" required> Активный<br>
        <input type="radio" name="activity" value="calm" required> Спокойный<br>
        <input type="radio" name="activity" value="cultural" required> Познавательный<br>
        <input type="radio" name="activity" value="food" required> Гастрономический<br><br>

        <label>Какой климат вам предпочтителен?</label><br>
        <input type="radio" name="climate" value="cold" required> Холодный<br>
        <input type="radio" name="climate" value="warm" required> Тёплый<br>
        <input type="radio" name="climate" value="moderate" required> Умеренный<br><br>

        <label>Какой продолжительности будет поездка?</label><br>
        <input type="radio" name="length" value="short" required> 1-3 дня<br>
        <input type="radio" name="length" value="medium" required> 4-7 дней<br>
        <input type="radio" name="length" value="long" required> Более 7 дней<br><br>

        <label>Какой транспорт вам удобнее?</label><br>
        <input type="radio" name="transport" value="plane" required> Самолёт<br>
        <input type="radio" name="transport" value="train" required> Поезд<br>
        <input type="radio" name="transport" value="car" required> Авто<br>
        <input type="radio" name="transport" value="ship" required> Корабль<br>
        <input type="radio" name="transport" value="dm" required> Не имеет значения<br><br>

        <label>Какой у вас бюджет?</label><br>
        <input type="radio" name="budget" value="low" required> Эконом<br>
        <input type="radio" name="budget" value="medium" required> Средний<br>
        <input type="radio" name="budget" value="high" required> Высокий<br><br>

        <input type="submit" value="Узнать результат">





    </form>
</body>
</html>
